<a href="https://colab.research.google.com/github/rikdas/Tutorials/blob/master/Datatypes_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python DataTypes

Use of different variables in Python do not require declaration of it's corresponding datatype. Python is very flexible and allows assigning of values straightaway to variables. Python gets to know of it's type on it's own.

**Types of Variables**
1.   Numbers
2.   Strings 

1.   Lists
2.   Tuples

1.   Dictionary

**1. Numbers** : integer and float

In [0]:
x = 50       # assigning Integer Variables
y = 50.25    # assigning Float Variables
print(x,  "is the integer value assigned to x" ) # printing value assigned to x 


print(type(x), ":is the datatype of x") # checking the datatype of variable assigned to x

print(y, "is the float value assigned to y") # printing value assigned to y

print(type(y), ":is the datatype of y") # checking the datatype of variable assigned to y

a = b = 100 # multiple assignments 

print (a , b, ":this is the output where both a and b are assigned with 100") # printing multiple assignments

50 is the integer value assigned to x
<class 'int'> :is the datatype of x
50.25 is the float value assigned to y
<class 'float'> :is the datatype of y
100 100 :this is the output where both a and b are assigned with 100

**2. Strings** :  are arrays of bytes representing unicode characters. Python does not have a character data type, a single character is simply a string with a length of 1.

In [0]:
s = 'Python' # string assignment must have '' / " ". Eg: s = 'Python' or s = "Python"
print (s)
s = "Python"
print (s)

Python
Python

Python assignments start from [0]. Hence the first element of a string is accesed as s[0]

In [0]:
print (s[0]) # accessing first element in string

P

In [0]:
print (s[-1]) #accessing the last element in the string

n

In [0]:
print (s[3:6]) # accessing third to sixth element

hon

In [0]:
print (s[1:]) # accessing from the first [1] element (remember: not the first postion) till last 
print (s[0:]) # accessing from the zero [0] element

ython
Python

In [0]:
print(s + ' is a smart language') # string concatenation. you may press the spacebar or type '\t' for allowing spaces between two words

Python is a smart language

In [0]:
print (s*4) #priniting more than once

PythonPythonPythonPython

**3. Lists** :  a list is created by placing all the items (elements) inside a square bracket [ ], separated by commas. It can have any number of items and they may be of different types (integer, float, string etc.). A list can even have another list as an item.

In [0]:
l  = ['a', 'apple', 2.1, 10] #List elements are of different datatypes
print(l)
print(len(l)) # Length of variable l
print(type(l)) # datatype of variabe l

['a', 'apple', 2.1, 10]
4
<class 'list'>

In [0]:
l  = [['a', 'apple', 2.1, 10], [10, 20, 31, 40]] # declaring a list inside a list
print (l) #printing list of lists
print (len(l)) #the declared list is considered as 1 single element in list of lists. Hence the length of list is 5

[['a', 'apple', 2.1, 10], [10, 20, 31, 40]]
2

In [0]:
print(l[0]) # Accessing first List 
print(l[1]) # Access second List 
print(l[0][1]) # Accessing second element of the first List
print(l[-1]) # Accessing the last element of the List which itself is the second list
print(len(l[0])) # Access the length of first list
print(len(l[1])) # Access the length of second list
print (len(l[0])+len(l[1])) #sum of length of two lists which are elements of list 'l'
print (len(l)) #length of list 'l' is 2 since the other two lists are considered as two different elements inside the list 'l'

['a', 'apple', 2.1, 10]
[10, 20, 31, 40]
apple
[10, 20, 31, 40]
4
4
8
2

*Items can be added and/or deleted from lists which makes lists mutable*

In [0]:
x = ['Saloni', 'Tanmoy', 15.5, 20] # declaring a list
print(x)
x.append('cat') # adding element to list
print(x)
x.remove('cat') #removing element from list
print(x)
x[1] = 'Rahul' #replacing element from list position-wise
print(x)

['Saloni', 'Tanmoy', 15.5, 20]
['Saloni', 'Tanmoy', 15.5, 20, 'cat']
['Saloni', 'Tanmoy', 15.5, 20]
['Saloni', 'Rahul', 15.5, 20]

**4. Tuples** : A tuple is an immutable sequence of Python objects. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

In [0]:
t = ('Angshuman', 'Ritesh', 45, 78.25, 'r') #declaring tuple
print (t)
print(t[4]) # accessing tuple elements

t[2] = 31 #attempting to change elements of tuple will return error

('Angshuman', 'Ritesh', 45, 78.25, 'r')
r

TypeError: ignored

**5. Dictionary** : Python dictionary is an unordered collection of items. While other compound data types have only value as an element, a dictionary has a key: value pair.

In [0]:
d = {'First Name' : 'Tanmoy',
     'Last Name' : 'Bose',
     'Age' : 21,
     'Qualification': 'Graduate'}# declaring a Dictionary with key:value pairs

print (d)
print(len(d), " is the length of dictionary") #length of dictionary
print(d.keys(), ' are the keys available in the dictionary') #keys in dictionary
print(d.values(), 'are the corresponding values assigned to the keys') #values in dictionary
print(d['Age']) # accessing corresponding value assigned to a key
d['Height'] = '5 ft. 10 inches' #adding new key:value pair to dictionary
print (d)
d['Height'] = '6 ft. 2 inches' # changing value for a corresponding key
print (d)
del d['Height'] # removing a key value pair
print (d)

{'First Name': 'Tanmoy', 'Last Name': 'Bose', 'Age': 21, 'Qualification': 'Graduate'}
4  is the length of dictionary
dict_keys(['First Name', 'Last Name', 'Age', 'Qualification'])  are the keys available in the dictionary
dict_values(['Tanmoy', 'Bose', 21, 'Graduate']) are the corresponding values assigned to the keys
21
{'First Name': 'Tanmoy', 'Last Name': 'Bose', 'Age': 21, 'Qualification': 'Graduate', 'Height': '5 ft. 10 inches'}
{'First Name': 'Tanmoy', 'Last Name': 'Bose', 'Age': 21, 'Qualification': 'Graduate', 'Height': '6 ft. 2 inches'}
{'First Name': 'Tanmoy', 'Last Name': 'Bose', 'Age': 21, 'Qualification': 'Graduate'}